language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t pels/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true pels/react-test npm test

  after_success:
  - docker build -t pels/multi-client ./client
  - docker build -t pels/multi-nginx ./nginx
  - docker build -t pels/multi-server ./server
  - docker build -t pels/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  - docker push pels/multi-client
  - docker push pels/multi-nginx
  - docker push pels/multi-server
  - docker push pels/multi-worker